<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

	<jsp-config>
        <jsp-property-group>
            <url-pattern>/view/*</url-pattern> 
            <!-- view 폴더에 있는 모든 파일에 적용한다. -->
            <include-prelude>/common/variable.jspf</include-prelude>
            <!-- 항상 넣어줄 코드(앞) 지정 -->
            <include-coda>/common/footer.jspf</include-coda>
            <!-- 항상 넣어줄 코드(뒤) 지정 -->
        </jsp-property-group>
    </jsp-config>

</web-app>